@if $use-beautons == true
    .btn
        @include vendor(border-radius, $base-radius)
        @include vendor(transition, all ease .2s)
        background-color: #FFF
        border: 1px solid $base-ui-color
        color: $font-color
        cursor: pointer
        display: inline-block
        font-family: inherit
        font-size: $base-font-size
        font-weight: $button-font-weight
        line-height: $base-line-height
        margin: 0
        padding: ($button-spacing-vertical - 1) ($button-spacing-horizontal - 1)
        outline: none
        position: relative
        text-align: center
        text-decoration: none !important
        vertical-align: middle
        white-space: nowrap

        &:active,
        &:focus
            outline: none

        .icon
            font-size: 16px
            
            &,
            &:before
                display: inline-block
                line-height: inherit
                height: 20px
                vertical-align: top

    .btn--icon
        padding-left: $spacing-sm + $spacing-xs
        padding-right: $spacing-sm + $spacing-xs

    .btn--primary
        background-color: $blue-500
        border-color: transparent
        color: #fff

    /**
     * Positive actions e.g. sign in, purchase, submit, etc.
     */
    .btn--positive
        background-color: $green-500
        border-color: transparent
        color: #fff

    /**
     * Negative actions e.g. close account, delete photo, remove friend, etc.
     */
    .btn--negative
        background-color: $red-500
        border-color: transparent
        color: #fff


    /**
     * Inactive, disabled buttons.
     */
    .btn--inactive,
    .btn--inactive:hover,
    .btn--inactive:active,
    .btn--inactive:focus
        opacity:0.6!important
        filter:alpha(opacity = 60)!important
        cursor: text
        top: 0




    /**
     * Modifiers
     */
    .btn--full
        display: block
        width: 100%

    .btn--link
        @include vendor(box-shadow, none)
        color: $link-color
        background: transparent !important
        border: 0 !important


    // Button Group
    .btn-grouped
        display: inline-block
        vertical-align: middle
        position: relative

        .btn
            @include vendor(border-radius, 0)
            border-left-width: 0
            float: left
            padding-left: $spacing-sm
            padding-right: $spacing-sm


            + .btn
                border-left: 0

            &:first-of-type
                @include vendor(border-top-left-radius, $base-radius)
                @include vendor(border-bottom-left-radius, $base-radius)
                border-left-width: 1px

            &:last-of-type
                @include vendor(border-top-right-radius, $base-radius)
                @include vendor(border-bottom-right-radius, $base-radius)


    input[type="radio"]:checked + .btn--radio
        background: $base-background !important
        color: $font-color !important
