@if $use-grids == true{
    .grid{
        margin-left:-$base-spacing;
        list-style:none;
        margin-bottom:0;

        &:after {
            clear: both;
            content: '';
            display: table;
        }
    }
    .grid__item{
        display:inline-block;
        float: left;
        width:100%;
        padding-left:$base-spacing;
        vertical-align:top;
        @if $global-border-box == false{
            @include vendor(box-sizing, border-box);
        }
    }
    .grid--xs {
        margin-left: -$spacing-xs;

        > .grid__item {
            padding-left: $spacing-xs;
        }
    }
    .grid--sm {
        margin-left: -$spacing-sm;

        > .grid__item {
            padding-left: $spacing-sm;
        }
    }
    .grid--lg {
        margin-left: -$spacing-lg;

        > .grid__item {
            padding-left: $spacing-lg;
        }
    }
}//endif
