@if $use-island == true{
    .island {
        @extend .clearfix;
        @include vendor(border-radius, 3px);
        background: #FFF;
        box-shadow: 0 0 1px rgba($haze-500, .8), 0 1px 0 rgba($haze-300, .4);
        // border: 1px solid $base-ui-color;
        margin-bottom: $base-spacing;
        display:block;
    }
    .island > :last-child{
        margin-bottom:0;
    }
}//endif
