@if $use-pagination == true{
    .pagination__numbers {
        a {
            border-radius: 100%;
            display: inline-block;
            vertical-align: middle;
            width: 24px;
            line-height: 24px;

            &.active {
                background: $base-ui-color;
                color: $font-color;
            }

            &:hover {
                background: $brand-primary;
                color: #FFF;
            }
        }
    }
}//endif
