/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */


/**
 * Add/remove floats
 */
.float--right               { float: right !important }
.float--left                { float: left  !important }
.float--none                { float: none  !important }


/**
 * Text alignment
 */
.text--left                 { text-align: left    !important }
.text--center               { text-align: center  !important }
.text--right                { text-align: right   !important }
.text--truncate             { @include truncate(100%) }


/**
 * Text colors
 */
.text--muted                { color: $haze-700 }
.text--white                { color: #FFF  }
.text--positive             { color: $green-500 !important }
.text--negative             { color: $red-500 !important }


/**
 * Text Case
 */
.text--uppercase            { text-transform: uppercase  !important }
.text--lowercase            { text-transform: lowercase  !important }


/**
 * Font weights
 */
.text--light                { font-weight: 300  !important }
.text--normal               { font-weight: 400  !important }
.text--semibold             { font-weight: 500  !important }
.text--bold                 { font-weight: 600  !important }


/**
 * Positions
 */
.relative                   { position: relative; }
.absolute                   { position: absolute; }
.fixed                      { position: fixed;    }
.static                     { position: static;   }
.pin                        { top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; }
.pin--top                   { top: 0 }
.pin--right                 { right: 0 }
.pin--bottom                { bottom: 0 }
.pin--left                  { left: 0 }


/**
 * Vertical Alignment
 */
.valign--top                { vertical-align: top    !important; }
.valign--middle             { vertical-align: middle !important; }
.valign--bottom             { vertical-align: bottom !important; }


/**
 * Displays
 */
.block                      { display: block; }
.block-inline               { display: inline-block; }
.pack                       { display: table; width: 100%; }
.pack__row                  { display: table-row; }
.pack__item                 { display: table-cell; vertical-align: middle;}


/**
 * Rounded
 */
.rounded                    { border-radius: $base-radius; }
.rounded--full              { border-radius: 9999px; }


/**
 * Z-Indexes
 */
.tier--one                  { z-index: 1; }
.tier--two                  { z-index: 2; }
.tier--three                { z-index: 3; }
.tier--four                 { z-index: 4; }
.tier--five                 { z-index: 5; }
.tier--six                  { z-index: 6; }
.tier--seven                { z-index: 7; }
.tier--eight                { z-index: 8; }
.tier--nine                 { z-index: 9; }
.tier--ten                  { z-index: 10; }


/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
@mixin accessibility{
    border:0!important;
    clip:rect(0 0 0 0)!important;
    height:1px!important;
    margin:-1px!important;
    overflow:hidden!important;
    padding:0!important;
    position: absolute!important;
    width:1px!important;
}
.visuallyhidden{
    @include accessibility;
}
@if $responsive{
    @each $state in palm, lap, lap-and-up, portable, desk, desk-wide{
        @include media-query(#{$state}){
            .visuallyhidden--#{$state}{
                @include accessibility;
            }
        }
    }
}


/**
 * Tooltip
 */
[data-tooltip] {
    position: relative !important
}

[data-tooltip]::after {
    @extend .transition--default;;
    background: rgba(69, 77, 93, .9);
    border-radius: $base-radius;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    display: block;
    font-size: 11px;
    font-weight: 400;
    line-height: $base-line-height;
    left: 50%;
    max-width: 320px;
    opacity: 0;
    overflow: hidden;
    padding: ($spacing-xs - 2) $spacing-sm;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    transition: all .2s ease;
    transform: translate(-50%, 0);
    white-space: pre;
    z-index: 300;

}

[data-tooltip]:hover::after {
    opacity: 1;
    transform: translate(-50%, -$spacing-xs);
}


[data-tooltip][data-tooltip-position='top-left']::after {
    left: 0;
    transform: translate(0, 0);
}

[data-tooltip][data-tooltip-position='top-left']:hover::after {
    transform: translate(0, -$spacing-xs);
}



/**
 * Menus
 */

.menu {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;

    > li {
        float: left;
        position: relative;

        > a {
            display: block;
        }
    }
}


/**
 * Container
 */
.container {
    margin: 0 auto;
    max-width: 1080px;
}

.container--sm { max-width: 480px }

.container--md { max-width: 800px }

.container--fluid { max-width: 100% !important; }

















/**
 * External helper classes
 * --
 * Kindly consult with the team for adding/removing this classes
 */
.fill--shade                { background-color: $haze-100 !important; }
.fill--white                { background-color: #FFF; }
.transition--default        { @include vendor(transition, all .3s ease !important) }
