/**
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */
h1,.head--one { 
    // @include font-size($h1-size);
    font-size: $h1-size;
    line-height: 1.24;
}
h2,.head--two {
    // @include font-size($h2-size);
    font-size: $h2-size;
    line-height: 1.24;
}
h3,.head--three {
    // @include font-size($h3-size);
    font-size: $h3-size;
    line-height: 1.24;
}
h4,.head--four {
    // @include font-size($h4-size);
    font-size: $h4-size;
    line-height: 1.24;
}
h5,.head--five {
    // @include font-size($h5-size);
    font-size: $h5-size;
    line-height: 1.24;
}
h6,.head--six {
    // @include font-size($h6-size);
    font-size: $h6-size;
    line-height: 1.24;
}
