/*------------------------------------*\
$IMAGES
\*------------------------------------*/
/**
* Demo: jsfiddle.net/inuitcss/yMtur
*/
/**
* Fluid images.
*/
img{
    max-width:100%;
}


/**
* Non-fluid images if you specify `width` and/or `height` attributes.
*/
img[width],
img[height]{
    max-width:none;
}


/**
* Rounded images.
*/
.img--round { border-radius:$base-radius; }


/**
* Images in `figure` elements.
*/
figure > img{
    display:block;
}



.embed {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-width: 20px;
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    img,
    embed,
    iframe,
    object,
    video {
        border: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.embed--16x9:before {
    padding-top: 56.25%;
}

.embed--4x3:before {
    padding-top: 75%;
}
