@if $use-bootstrap-dropdown == true
    .dropdown
        position: relative

    .dropdown__menu
        @include vendor(box-shadow, 0 6px 12px rgba(22,28,34,.16), 0 0 1px rgba(22,28,34,.12))
        @include vendor(border-radius, $base-radius)
        background: #fff
        display: none
        margin-top: $spacing-sm
        min-width: 200px
        position: absolute
        top: 100%
        left: 0
        z-index: 9999

        .dropdown--right > &
            left: auto
            right: 0


    .dropdown__list
        list-style: none
        padding: 10px 0
        margin: 0

        li
            > a
                color: $font-color
                display: block
                line-height: 32px
                padding: 0 $spacing-md
                text-decoration: none !important
                white-space: nowrap

                &:hover
                    background: $dropdown-background-hover
                    color: $dropdown-text-hover
            &.active > a
                background: $dropdown-background-active
                color: $dropdown-text-active

        .divider
            border-top: 1px solid #E6E9EF
            margin: 10px 0

    .open > .dropdown__menu
        display: block
