@if $use-bootstrap-modal == true
    // Kill the scroll on the body
    body.modal-open
        overflow: hidden

    // Container that the modal scrolls within
    .modal
        display: none
        overflow: hidden
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 9999
        -webkit-overflow-scrolling: touch
        // Prevent Chrome on Windows from adding a focus outline. For details, see
        // https://github.com/twbs/bootstrap/pull/10951.
        outline: 0

    .modal--small
        .modal-dialog
            max-width: 320px

    .modal-open .modal
        overflow-x: hidden
        overflow-y: auto

    // Shell div to position the modal with bottom padding
    .modal-dialog
        position: relative
        width: auto
        max-width: 640px
        margin: 0 auto
        padding: 10px
        text-align: left

    // Actual modal
    .modal-content
        @include vendor(box-shadow, 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 30px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05))
        position: relative
        background-color: #FFF
        border-radius: 3px
        background-clip: padding-box
        outline: 0

    .modal-head
        display: table
        width: 100%

    .modal-title,
    .modal-close
        display: table-cell
        line-height: 20px
        padding: $spacing-md $spacing-md 0
        vertical-align: middle

    .modal-title
        width: 100%

    .modal-close
        @include vendor(opacity, .5)
        font-size: 20px
        line-height: 1
        cursor: pointer

        &:hover
            @include vendor(opacity, 1)

    // .modal-title,
    // .modal-close,
    .modal-body,
    .modal-foot
        @extend .clearfix
        padding: $spacing-md

        & :last-child
            margin-bottom: 0 !important

    .modal-foot
        text-align: right

        .btn + .btn
            margin-left: .5em

    // Modal background
    .modal-backdrop
        @include vendor(opacity, .2)
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: 9998
        background-color: darken($base-ui-color, 70%)
