@if $use-bootstrap-tabs == true
    .tabs
        border-bottom: 1px solid $base-ui-color
        list-style: none
        padding: 0
        margin: 0 0 $spacing-md
        @extend .clearfix

    .tab
        border-bottom: 3px solid transparent
        border-top: 3px solid transparent
        float: left
        margin-bottom: -1px

        a
            display: block
            padding: $spacing-sm
            outline: none !important

    .tab.active
        border-bottom-color: $brand-primary

        a
            color: $font-color

    .tab-pane
        @include vendor(opacity, 0)
        @extend .transition--default
        display: none

        &.active
            @include vendor(opacity, 1)
            display: block
