
$headings-color:      #444
$toolbar-height:      56px

.ads
    background: darken($base-ui-color, 10%)


.square
    @include vendor(border-radius, 3px)
    background: $haze-200
    display: block
    vertical-align: middle

    &--96
        width: 96px
        height: 96px

    &--64
        width: 64px
        height: 64px

    &--48
        width: 48px
        height: 48px

    &--40
        width: 40px
        height: 40px

    &--32
        width: 32px
        height: 32px

    &--24
        width: 24px
        height: 24px

    &--20
        width: 20px
        height: 20px

    &--16
        width: 16px
        height: 16px

    &--8
        width: 8px
        height: 8px

.circle
    @include vendor(border-radius, 100%)

.box
    @include vendor(border-radius, 2px)
    background: $base-ui-color

    &--4by3
        padding-bottom: 75%

    &--16by9
        padding-bottom: 9/16*100%

.divider
    background: $base-ui-color
    height: 1px

    &--vertical
        height: 16px
        width: 1px

.text--currency
    color: #13a94f


.alert
    background-color: $haze-200
    border-radius: $base-radius
    padding: $spacing-sm $spacing-md
    margin-bottom: $spacing-md

    &:last-child
        margin-bottom: 0

    &.pack
        padding: $spacing-xs

    .pack__item
        vertical-align: top

    .pack__item + .pack__item
        padding-top: $spacing-xs

.alert__label
    background-color: $haze-100
    font-size: 11px
    border-radius: $base-radius
    padding: $spacing-xs $spacing-md
    text-transform: uppercase

.alert--error
    background-color: $red-100
    color: $red-600

    .alert__label
        background-color: $red-300
        color: $white

.alert--success
    background-color: $green-100
    color: $green-600

    .alert__label
        background-color: $green-300
        color: $white

.alert--warning
    background-color: $orange-100
    color: $orange-600

    .alert__label
        background-color: $orange-300
        color: $white

//------------------------------------------------------------------------------
//  SIDEBAR
//  -
//  Sidebar styling
//------------------------------------------------------------------------------
$sidebar-width:       300px
$sidebar-brand:       #fff


.sidebar
    background: $sidebar-brand
    width: $sidebar-width
    left: -$sidebar-width
    z-index: $z-index-sidebar

    @include media-query(portable)
        left: -$sidebar-width

    .square
        background: $base-ui-color

.sidebar-backdrop
    background: $base-backdrop
    z-index: $z-index-sidebar - 1

.sidebar__head
    background: lighten($sidebar-brand, 5%)
    // border-bottom: 1px solid darken($sidebar-brand, 5%)
    height: $toolbar-height + 1
    padding: 0 $spacing-md

    .head__logo
        width: calc(100% - 32px)

.sidebar__title
    color: $font-color
    font-size: 16px
    line-height: 32px
    padding-top: ($toolbar-height - 32)/2

.sidebar__avatar
    margin-top: ($toolbar-height - 32)/2

.sidebar__subtitle
    @extend .text--muted
    border-top: 1px solid transparent
    font-size: 11px
    margin: ($spacing-md - 10) $spacing-md 0
    line-height: 12px
    height: 12px
    letter-spacing: .3px

.sidebar__body
    left: 0
    top: 0
    padding-top: 51px
    overflow: auto

.sidebar__menu
    padding: $spacing-md 0
    line-height: 20px

    a
        color: $font-color
        cursor: pointer
        text-decoration: none !important
        outline: none !important
        padding: $spacing-sm 0

        &:hover
            // color: $link-color
            background: $haze-200

    li + li
        margin-top: 1px

    .menu__icon
        padding-left: $spacing-md+$spacing-xs
        padding-right: $spacing-md+$spacing-xs
        text-align: center

    .menu__icon .icon
        color: #B8C2CE
        font-size: 20px

    .menu__icon .icon,
    .menu__icon .icon:before
        display: block
        height: 24px
        line-height: 24px
        width: 24px

    .menu__toggle,
    .menu__badge
        padding: 0 $spacing-sm

    .menu__name
        font-size: 14px

    .collapsible__icon
        color: #CFD6DF

    .collapsible__icon,
    .collapsible__icon:before
        display: block
        font-size: 14px
        text-align: center
        width: 20px
        height: 20px
        line-height: 20px

    .collapsible a:not(.collapsed),
    .collapsible__menu
            background: $haze-200

    .collapsible a:not(.collapsed),
    .active a
        .menu__name
            color: $link-color

        .collapsible__icon
            color: #A1AEBE

    .collapsible__menu
        > li
            &:first-child
                padding-top: $spacing-xs

            &:last-child
                padding-bottom: $spacing-md

            > a
                display: block
                font-size: 13px
                padding: $spacing-xs 0 $spacing-xs 64px

    a:not(.collapsed)
        .collapsible__icon
            transform: rotate(90deg)

.toggle-sidebar
    display: block
    width: 18px
    position: relative
    height: 14px

.toggle-sidebar .bar
    background: $base-ui-color
    display: block
    width: 100%
    height: 2px
    opacity: 1
    position: absolute

    -moz-transition: all ease .5s
    -webkit-transition: all ease .5s
    transition: all ease .5s

.toggle-sidebar .bar-1
    top: 0

.toggle-sidebar .bar-2
    top: 50%
    margin-top: -1px

.toggle-sidebar .bar-3
    bottom: 0

//------------------------------------------------------------------------------
//  PAGE
//  -
//  Page styling
//------------------------------------------------------------------------------

.page
    padding-bottom: $toolbar-height + $base-spacing
    left: 0

    @include media-query(portable)
        margin-left: 0 !important
        width: 100% !important


//------------------------------------------------------------------------------
//  TOOLBAR
//  -
//  Toolbar styling
//------------------------------------------------------------------------------

.toolbar
    background: $haze-100
    border-bottom: 1px solid $base-ui-color
    position: fixed
    left: 0
    width: 100%
    z-index: $z-index-toolbar

    .toolbar__menu
        height: $toolbar-height
        padding-left: $spacing-lg
        padding-right: $spacing-lg

    ~ .page
        padding: $spacing-lg
        padding-top: $toolbar-height + $base-spacing

    @include media-query(portable)
        left: 0 !important

.toolbar--main
    background: $blue-700
    border-bottom: 0
    z-index: $z-index-toolbar + 1

    h5,
    h5 a
        color: #FFF

.toolbar--sub
    top: ($toolbar-height)

    ~ .page
        padding-top: ($toolbar-height*2 + 2) + $base-spacing

    .menu
        > li + li
            padding-left: $base-spacing
            margin-left: $base-spacing

            &:before
                background: $haze-200
                content: ''
                display: block
                height: 20px
                width: 1px
                position: absolute
                left: 0
                top: 50%
                margin-top: -10px

        > li > a
            line-height: $toolbar-height

            &:before
                content: ''
                display: block
                height: 2px
                position: absolute
                bottom: -1px
                left: 0
                right: 0

        > li.active > a
            color: $font-color

            &:before
                background-color: $brand-primary
                opacity: 1



.list-data
    dl, dd, dt
        margin: 0
        word-break: break-word

    dl
        @extend .clearfix

    dl + dl
        border-top: 1px solid $haze-200
        margin-top: $spacing-sm
        padding-top: $spacing-sm

    dt
        @extend .text--muted
        @extend .milli

.table--price-guide
    th, td
        border: 1px solid lighten($base-ui-color, 5%)
        text-align: center
        padding: $spacing-xs

    th
        background: $haze-100

.list-data--grid
    dt, dd
        float: left
        font-size: $base-font-size

    dt
        width: 30%
        text-align: right

        &:after
            content: ':'
            margin-left: 12px
            color: $haze-700

    dd
        width: 70%
        padding-left: $spacing-md

.list-data--form
    dl + dl
        border-top: 0
        padding-top: 0
        margin-top: $spacing-md

    dt
        font-size: $base-font-size
        margin-bottom: $spacing-sm

.list-data--form.list-data--grid
    dt
        line-height: $input-height
        text-align: right
        margin-bottom: 0

.colors
    input[type="radio"]
        display: none

        &:checked ~ label .colors__label
            background: #A4CCFF
            color: #0148A2

.colors__label
    border-radius: 100px
    padding: 0 $spacing-sm

.colors__fill
    border-radius: $base-radius
    box-shadow: 0 0 1px rgba(0, 0, 0, .4) inset
    height: $spacing-xl




//------------------------------------------------------------------------------
//  PANEL
//  -
//  Panel styling
//------------------------------------------------------------------------------

.panel
    @extend .island

.panel__head
    border-bottom: 1px solid lighten($base-ui-color, 5%)
    padding: $base-spacing
    margin: 0

h6.panel__head,
.panel__head h6
    color: #0148A2

.panel__body
    padding: $base-spacing

.panel__tab
    .tab-menu__link
        line-height: 40px

.panel__table
    [colspan]
        text-align: inherit

    td
        border-color: $light-ui-color

    tr:first-child th
        padding-top: $base-spacing !important

    tr:last-child th
        padding-bottom: $base-spacing !important

    td:first-child,
    th:first-child
        border-left: 0
        padding-left: $base-spacing !important

    td:last-child,
    th:last-child
        border-right: 0
        padding-right: $base-spacing !important

    tr:first-child
        > td,
        > th
            border-top: 0
    tr:last-child
        > td,
        > th
            border-bottom: 0

    > thead > tr > th
        background: $haze-100
        border: 0
        color: lighten($font-color, 10%)
        font-weight: 400
        font-size: $milli-size

    > thead > tr:last-child > th
        border-bottom: 1px solid $haze-300 !important
        padding-bottom: $spacing-sm !important

    // > tbody tr:hover
    //     > td
    //         background: #FFA

    > tbody tr + tr > td
        border-top: 1px solid $light-ui-color

    > tbody tr.row--checked > td
        background: #FFA

    td.tight,
    th.tight
        > .checkbox
            padding-left: 16px
            min-height: 16px

.panel--filter
    border-width: 0 0 1px
    margin: (-$base-spacing/2 + 2)  (-$base-spacing)  $base-spacing

.panel--items  .item--disabled
    background: $haze-100




.access-login
    .page
        display: table
        padding: 0
        height: 100%
        width: 100%

    .content
        display: table-cell
        vertical-align: middle
//------------------------------------------------------------------------------
//  SELECTIZE
//  -
//  Custom selectize styling
//------------------------------------------------------------------------------
.optgroup + .optgroup
    border-top: 1px solid $haze-100

.selectize-dropdown
    @include vendor(border-radius, $base-radius)
    border: 0
    margin-top: 2px

    .active
        background: $dropdown-background-hover
        color: $dropdown-text-hover

    .selected
        background: $dropdown-background-active
        color: $dropdown-text-active


.selectize-dropdown-content
    max-height: 300px
    padding: 5px 0

.selectize--transparent
    .selectize-input
        @include vendor(box-shadow, none !important)
        background: #FFF
        border-color: transparent !important

        &:before
            display: none !important

.selectize--tight
    .selectize-input
        padding-right: 32px !important

        &:after
            right: 8px !important

        > *
            white-space: nowrap

.selectize--disable-input
    .selectize-input > input
        display: none !important

.selectize--link
    .selectize-input
        color: $brand-primary

.selectize--dropdown-flexible
    .selectize-dropdown
        width: auto !important

        .option
            white-space: nowrap

.selectize--dropdown-right
    .selectize-dropdown
        left: auto !important
        right: 0 !important

.selectize--dropdown-full
    .selectize-dropdown
        width: 100% !important

//------------------------------------------------------------------------------
//  JAVASCRIPTS
//  -
//  Javascript's related styling
//------------------------------------------------------------------------------

.js-toggle-sidebar
    &,
    & body
        overflow: hidden
    .sidebar
        left: 0 !important
