h1, h2, h3, h4, h5, h6
    color: darken($base-ui-color, 65%)

a
    color: $link-color
    text-decoration: none

th
    font-weight: 500

code
    background-color: #f9f2f4
    border-radius: 2px
    color: #c7254e
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace
    font-size: 85%
    letter-spacing: 0
    padding: 2px 4px

.code-plain
    background: #eee
    color: #888

.code-attr
    background: lighten(#c274c2, 25%)
    color: #c274c2

.text--number
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace


.documentation
    max-width: 1050px
    margin: 0 auto
    padding: 0 $base-spacing/2

.documentation-content
    h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre,
    .form-fields > li, .media, .island, .islet,
    pre[class*="language-"]
        margin-bottom: 1em

    > h2
        font-weight: 600

    > h4
        font-weight: 400
        margin-bottom: 1em !important

    hr
        border: 0
        border-top: 1px solid $base-ui-color
        margin: 2.5em 0

    [colspan]
        text-align: inherit

    .greybox,
    .greenbox
        background: #777
        border-radius: 3px
        color: #fff
        display: inline-block
        line-height: $input-height
        padding: 0 1em

    .greenbox
        background: #e7f6e0
        border: 1px solid #c8eab9
        color: #333

    .reset--radius-top
        border-radius-top-right: 0
        border-radius-top-left: 0

    .reset--border-top
        border-top: 0

    .table--modifier
        margin: 3em 0

        thead
            th
                border-bottom: 1px solid $base-ui-color
                padding-top: 0

        tbody
            tr + tr td
                border-top: 1px solid lighten($base-ui-color, 5%)

        th:first-child,
        td:first-child
            padding-left: 0

    table
        hr
            margin: 0 !important


.documentation-sidebar
    padding: 0 50px 0 0

    > li
        margin: 0
        position: relative

        + li
            margin-top: 15px

        a
            @include vendor(border-radius, 2px)
            color: inherit
            line-height: 32px
            font-size: $base-font-size + 1
            padding: 0 10px
            text-decoration: none !important

            &:hover
                background: lighten($base-ui-color, 6%)

            &.icon:before
                color: #66BB6A
                display: inline-block
                font-size: 18px
                text-align: center
                margin-right: 10px
                vertical-align: top
                width: 20px

        > ul li
            > a
                // padding-left: 55px
                padding-left: 40px
                font-size: $base-font-size - 1
                line-height: 2

            > ul li
                > a
                    font-size: $base-font-size - 1
                    line-height: 24px
                    font-weight: 400
                    padding-left: 65px


.documentation-example
    background: #FFF
    border: 1px solid $base-ui-color
    border-bottom: 0
    border-radius: 2px 2px 0 0

    &.is--solo
        border-radius: 2px
        border-bottom: 1px solid $base-ui-color

    table
        margin: 0

    + pre
        border-radius: 0 0 2px 2px
        margin-top: 0

    .table--column
        td
            padding: 15px

        td + td
            border-left: 1px solid $base-ui-color

        hr
            border-color: $base-ui-color

        .pack .greybox,
        .grid .greybox
            @include vendor(border-radius, 0)
            background: #e7f6e0
            border: 1px solid #c8eab9
            color: #333
            display: block

.documentation-table
    td
        padding: 15px 0
        vertical-align: top

    tr + tr > td
        border-top: 1px solid #eee

    h1, h2, h3, h4, h5, h6
        margin: 0


.documentation-fonts
    td
        text-align: center

    span
        display: inline-block
        width: 20px
        text-align: center


// Prism

.documentation-example+pre
    background: lighten($base-ui-color, 7%)
    border: 1px solid $base-ui-color
