/**
 * Reset elements
 */
.no--overflow
    overflow: hidden !important
.no--wrap
    white-space: nowrap


/**
 * Custom grids
 */
.grid--full
    margin-left: 0
    > .grid__item
        padding-left: 0

.grid--quarter
    margin-left: -$base-spacing/4
    > .grid__item
        padding-left: $base-spacing/4

.grid--half
    margin-left: -$base-spacing/2
    > .grid__item
        padding-left: $base-spacing/2



/**
 * Reset list
 */
.list--reset,
.list--reset > li
    list-style: none
    padding: 0
    margin: 0



/**
 * Reset line height
 */
.line--one
    line-height: 1


/**
 * Full Width & Height
 */

.full--width
    width: 100%
.full--height
    height: 100%



/**
 * Positions
 */



/**
 * Displays
 */
.collapse
    display: none
    max-height: 0
    overflow: hidden

    &.in
        display: block
        max-height: 10000px
.center
    margin-left: auto
    margin-right: auto
.tight
    width: 0.1%
    white-space: nowrap
.valign--top
    vertical-align: top
.valign--middle
    vertical-align: middle
.valign--bottom
    vertical-align: bottom

















/**
 * Fills & Lines
 */
.border--left
    border-left: 1px solid $base-ui-color
.light--background
    background: $light-background
