@font-face {
    font-family: 'icomoon';
    src:  url('vendor/icons/fonts/icomoon.eot?9ckr3j');
    src:  url('vendor/icons/fonts/icomoon.eot?9ckr3j#iefix') format('embedded-opentype'),
        url('vendor/icons/fonts/icomoon.ttf?9ckr3j') format('truetype'),
        url('vendor/icons/fonts/icomoon.woff?9ckr3j') format('woff'),
        url('vendor/icons/fonts/icomoon.svg?9ckr3j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $base-font-icon !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:before {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icon--users:before {
  content: "\e913";
}
.icon--delete-shield:before {
  content: "\e900";
}
.icon--task:before {
  content: "\e901";
}
.icon--report:before {
  content: "\e911";
}
.icon--check:before {
  content: "\e912";
}
.icon--view:before {
  content: "\e902";
}
.icon--verified:before {
  content: "\e903";
}
.icon--sign-ok:before {
  content: "\e904";
}
.icon--sign-warning:before {
  content: "\e905";
}
.icon--sign-info:before {
  content: "\e906";
}
.icon--chevron-up:before {
  content: "\e907";
}
.icon--delete:before {
  content: "\e908";
}
.icon--pencil:before {
  content: "\e909";
}
.icon--close:before {
  content: "\e90a";
}
.icon--chevron-down:before {
  content: "\e90b";
}
.icon--chevron-right:before {
  content: "\e90c";
}
.icon--chevron-left:before {
  content: "\e90d";
}
.icon--camera:before {
  content: "\e90e";
}
.icon--upload:before {
  content: "\e90f";
}
.icon--download:before {
  content: "\e910";
}
.icon--settings:before {
  content: "\e915";
}
.icon--sign-user:before {
  content: "\e917";
}
.icon--rocket:before {
  content: "\e918";
}
.icon--support:before {
  content: "\e919";
}
.icon--piggy-bank:before {
  content: "\e91a";
}
.icon--car:before {
  content: "\e91b";
}
.icon--card:before {
  content: "\e91c";
}
.icon--response:before {
  content: "\e91d";
}
.icon--home:before {
  content: "\e91e";
}
