@import "framework.sass"


.presentation
    background-color: $white
    
.presentation__toolbar
    background-color: $blue-500

.presentation__sidebar
    position: fixed
    height: 100%
    overflow-y: scroll

.presentation__content
    height: 100%
    float: right
